* {
  background-image: url(https://www.freepik.com/free-photo/beautiful-tree-middle-field-covered-with-grass-with-tree-line-background_13005861.htm#query=nature&position=10&from_view=keyword&track=sph);
}
.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  
  .heading {
    color: rebeccapurple;
  }
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
  }
  .nav-link-text {
    color: black;
  }
  .site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
  }